.list-group {
    max-height: 100vh;
    overflow-y: scroll;
    padding-bottom: 10px;
}

.map {
    height: 75vh;
    overflow: hidden;
}

#paginationbutton {
    margin-top: 10px;
 
}

.card {
    width: 70%;
}

.list-group-flush {
    overflow: hidden;
    padding: 0;
}

.stationrow:hover {
    cursor: pointer;
    font-weight: bolder;
}