.list-group {
    max-height: 50%;
    overflow-y: scroll;
}

.map {
    height: 75vh;
    overflow: hidden;
}

#paginationbutton {
    margin-top: 10px;
 
}

.card {
    width: 70%;
}

.list-group {
    overflow: hidden;
}